/*-------------------------*/
/* sidebar 
---------------------------*/
.sidebar {
  min-width: 29.6rem;
  background-color: $primary;
  font-weight: bold;
  position: fixed;
  top:0;
  bottom:0;
  li {
    margin-bottom: 2.6rem;
    position: relative;
  }
  &＿link{
    padding: 0.4rem 3.2rem;
  }
  li.active:before {
    @include width(0.4rem , 3.2rem);
    content: "";
    background: $secondary;
    position: absolute;
    top: 0;
    left: 0;
  }
  li.active a,
  li:hover a{
    color: $secondary;
  }
}
.user {
  img {
    @include width(4rem , 4rem);
    border-radius: 50%;
  }
  p:last-child {
    color: $text-gray;
  }
}
