  <!-- 上方選單 -->
  <section class="topNav mb-3">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="w-auto d-flex flex-nowrap justify-content-start align-items-center">
          <h2 class="title fw-700 font-l">Assignment</h2>
          <div class="dropdown">
            <button class="btn dropdown-toggle font-base fw-700 p-0 pe-6" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              All Courses
              <span class="material-icons assignmentBtn-icon text-secondary">expand_more</span>
            </button>
            <ul class="dropdown-menu font-base" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" href="javascript:;">HTML/CSS</a>
              <a class="dropdown-item" href="javascript:;">jQuery</a>
              <a class="dropdown-item" href="javascript:;">Something else here</a>
            </ul>
          </div>
        </div>
        <ul class="w-auto d-flex align-items-center">
          <li>
            <a href="javascript:;" class="d-block lh-1">
              <span class="material-icons material-search">search</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="d-block lh-1">
              <span class="material-icons">notifications_active</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>




