<!-- 左邊選單 -->
<nav class="sidebar d-flex flex-column justify-content-start py-8">
  <h1 title="ANSWER" class="mb-8 px-8">
    <a href="./index.html">
      <img src="./assets/images/logo-ANSWER.svg" alt="logo">
    </a>
  </h1>
  <ul class="flex-grow-1">
    <li>
      <a href="javascript:;" class="sidebar＿link d-flex align-items-center">
        <span class="material-icons me-4">insert_chart</span>
        Dashboard
      </a>
    </li>
    <li>
      <a href="javascript:;" class="sidebar＿link d-flex align-items-center">
        <span class="material-icons me-4">forum</span>
        Question
      </a>
    </li>
    <% if(current === "index"){ %>
      <li class="<%- theme %>">
        <a href="./index.html" class="sidebar＿link d-flex align-items-center">
          <span class="material-icons me-4">assignment</span>
          Assignment
        </a>
      </li>
    <% } else { %>
      <li>
        <a href="./index.html" class="sidebar＿link d-flex align-items-center">
          <span class="material-icons me-4">assignment</span>
          Assignment
        </a>
      </li>
    <% } %>
    <li>
      <a href="javascript:;" class="sidebar＿link d-flex align-items-center">
        <span class="material-icons me-4">video_library</span>
        Course
      </a>
    </li>
    <% if(current === "admin"){ %>
      <li class="<%- theme %>">
        <a href="./admin.html" class="sidebar＿link d-flex align-items-center">
          <span class="material-icons me-4">supervisor_account</span>
          Admin
        </a>
      </li>
    <% } else { %>
      <li>
        <a href="./admin.html" class="sidebar＿link d-flex align-items-center">
          <span class="material-icons me-4">supervisor_account</span>
          Admin
        </a>
      </li>
    <% } %>
    <li class="mb-0">
      <a href="javascript:;" class="sidebar＿link d-flex align-items-center">
        <span class="material-icons me-4">settings</span>
        Settings
      </a>
    </li>
  </ul>
  <div class="user d-flex px-8">
    <img class="me-4" src="./assets/images/andychen.jpeg" alt="andychen">
    <div>
      <p class="mb-1">Andy Chen</p>
      <p class="font-s">andy0401@mail.com</p>
    </div>
  </div>
</nav>



