/*-------------------------*/
/* assignment
---------------------------*/
.assignmentContent{
  padding: 0 2rem;
  .list-group-item {
    padding: 1.2rem ;
    &.active{
      border: 0.1rem solid $thirdly;
    }
  }
  .btn {
    &:after {
      display: none;
    }
  }
}
.card{
  border: 0.1rem solid $thirdly;
  &-body{
    padding: 1.6rem 3.2rem 2.2rem 1.6rem;
  }
}
.media{
  img {
    @include width(4rem , 4rem);
    border-radius: 100%;
    object-fit: cover;
  }
  code{
    color: $secondary;
    background-color: $primary;
  }
  .downloadBtn{
    max-width: 17.6rem;
    padding: 0.7rem 1.2rem;
    border: 0.1rem solid $thirdly;
    &:hover{
      color: $secondary;
    }
  }
  hr{
    margin: 0;
  }
  li{
    list-style: disc;
  }
}
// 彈出選單 
.replyGroup-outer{
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: -1rem;
  z-index: 999;
  overflow-y: auto;
  transition: all 0.8s;
  &.active{
    width: 100%;
    height: 33.5rem;
  }
  .replyGroup{
    @include width(100%, 100%);
    border: 0rem solid $thirdly;
    overflow-x: hidden;
  }
  .paginationGroup{
    right: 4rem;
    bottom: 2rem;
    opacity: 0;
    transition: all 0.8s;
  }
}
// 文字窗高度
.ck-editor__editable {
  min-height: 29rem;
}
.replyGroup-outer.active{
  .paginationGroup{
    opacity: 1;
  }
}
//取消focus狀態
.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.0rem rgba(74, 150, 111, 0.5);
}
