/*-------------------------*/
/* $Font import 
---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*-------------------------*/
/* base
---------------------------*/ 
*, *::before, *::after{
    box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI","Lato" , ThegnHei, "Helvetica Neue", Arial, sans-serif;
		line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 400;
		color: $black;
}
body.active{
    overflow-y: hidden;
    overflow-x: hidden;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1.2;
  margin: 0;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0
}
h1 {
	font-size: 4.8rem;
}
h2 {
	font-size: 3.2rem;
}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 2.2rem;
}
h5 {
	font-size: 2.0rem;
}
h6 {
	font-size: 1.8rem;
}
p{
	margin: 0;
}
b {
	font-weight: 500;
}
a{
	color: $black;
	text-decoration: none;
	word-break: break-all;
}
* {
	outline: 1px solid red;
}
